<div class="schedule-container">
  <div class="schedule-header">
    <h1>Class Schedule</h1>
    <button class="back-btn" (click)="goBack()">
      <app-icon name="arrow-left" alt="arrow" color="#212529"></app-icon>
      Go Back
    </button>
  </div>

<div class="week-grid">
  <div class="day-card" *ngFor="let day of weekDays">
    <div class="day-header">{{ day }}</div>
    <ng-container *ngIf="getClassesForDay(day).length; else noClass">
      <div class="class-item" *ngFor="let cls of getClassesForDay(day)">
        <div class="class-title"><b>{{ cls.subject }}</b></div>
        <div class="class-time">{{ cls.startTime }} - {{ cls.endTime }}</div>
        <div class="class-room">{{ cls.room }}</div>
      </div>
    </ng-container>
    <ng-template #noClass>
      <div class="no-class">No classes for today.</div>
    </ng-template>
  </div>
</div>
