/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #f5f5f5; /* Optional: match your app background */
}
